<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-rss"></i> News</h6>
    <div class="px-3 pb-1">
        {% assign news_by_year = site.news | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}
        {% for year in news_by_year %}
        <div class="my-1">
            <h6 class="text-muted">{{ year.name }}</h6>
            {% for item in year.items %}
            <div class="my-1 d-flex align-items-center">
                <i class="fas fa-newspaper mr-2 text-muted"></i> <!-- 添加装饰图标 -->
                <div>{{ item.title }}</div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
